.back-slider{
    width:100%;
    height: 100%;
}

.about-text{
    margin-top:30px;
    padding-left:20%;
    padding-right:20%;
    font-size:40px;
    color: white;
    font-family: sans-serif;
}

.learn-more{
    margin-top:185px;
    padding-left:20%;
    padding-right:5%;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}

.front-part{
    top:410px;
    position:absolute;
    height: 600px;
    width:100%;
    text-align: center;
    color: white;
    /*background-color:rgba(0, 0, 0, 0.4);*/
    z-index: 0;
}

#slogan{
    top:75.5%;
    left: 2%;
    padding-left: 10%;
    position: absolute;
    width:100%;
    color:white;
    text-align:left;
    font-size: 40px;
    font-family: sans-serif;
    z-index: 1;
}

.caption{
    left: 9.5%;
    position: relative;
    font-size: 40px;
    font-family: sans-serif;
    z-index: 1;
}

#BackgroundSlider > .carousel > .carousel-indicators {
    bottom:-100px;
}

#BackgroundSlider > .carousel > .carousel-caption {
    z-index: 1;

}

#BackgroundSlider > .carousel > .carousel-inner > .item > img{
    height:100%;
    overflow-x:hidden;
}

@media only screen and (max-width: 1122px) {
    .about-text{
        padding-left:10%;
        padding-right: 10%;
    }
}