#SUPPORT{
    font-size: 50px;
    margin-left: -10px;
    text-align: center;
}

#ER-Body{
    font-size: 30px;
    text-align: left;
    opacity: 1;
    padding: 35px;
    /*padding-right: 500px;*/

}

.background{
    background-color:rgba(0, 0, 0, 0.7);
}