#ER-Body{
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
    opacity: 1;
    padding: 35px;
    /*padding-right: 500px;*/

}

#SUPPORT{
    font-size: 50px;
    margin-left: -10px;
    text-align: center;
}

#SUPPORT{
    font-family: sans-serif;
}

#SUPPORT-Body{
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
    padding: 35px;
}

.background{
    background-color:rgba(0, 0, 0, 0.7);
}

h1, h2{
    font-family: sans-serif;
}