.navbar-nav {
    width: 75%;
    text-align: center;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar-default{
    background-color: white;
}